html,
body,
#app{
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1200px;
}
.el-breadcrumb{
  margin-bottom: 15px;
  font-size: 12px !important;
}
.el-steps{
  margin: 15px auto;
}
.ql-editor{
  min-height: 300px;
}